<%- include('./includes/head') %>
<%- include('./includes/nav') %>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">
          Seus Contatos estão abaixo
        </p>
        <%- include('includes/messages') %>
        <% if (user) { %>
        <% if (contacts.length > 0) { %>
          <div class="responsive-table">
            <table class="table my-3">
              <% contacts.forEach(contact => { %>              
                <tr>
                  <td><%= contact.nome %></td>
                  <td><%= contact.sobrenome %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.telefone %></td>
                  <td><a href="/contato/<%= contact._id %>" class="btn btn-primary">Altera</a></td>
                  <td><a href="/contato/delete/<%= contact._id %>" class="btn btn-danger">Excluir</a></td>
                </tr>
              <% }); %>
            </table>
          </div>
        <% } else { %>
          <p class="text-center lead">Não existe contato em sua agenda</p>
        <% } %>
        <% } else { %>
          <div class="text-center">
            <h5>Para vizualizar seus contatos, favor fazer o login</h5>
            <a href="/login" class="btn btn-primary">Fazer Login</a>
          </div>
        <% } %>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <%- include('./includes/footer') %>